
.project
.settings/*
.idea


.project
target
.settings
MANIFEST.MF
.iml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.orig
*.class
*.iml
*.log
.classpath
.project
bin/
.idea/

#mergetool
*.BASE*
*.LOCAL*
*.REMOTE*
*.BACKUP*
/target
/.tern-project
*.jar

/log